---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "trajan-sans-pro", Helvetica, Arial, sans-serif;
$body-font:"lucida grande", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$subheader_size:24px;

$spacing-unit:30px;
$font_color:#494943;
$text-color:#231F20;
$background-color:#F7F4F3;
$brand-color:#0A3C78;
$button-color:#C44536;
$grey-color:#b4b7b2;
$color_black:#0E1011;




// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$tot-width: 100%;
$num-col: 12;
$gut-width: 5%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($geezy){
  width: ($geezy * $ind-col-width) + ($gut-width * ($geezy - 1));
  float: left;
  margin-right: $gut-width;
  &:last-child {
    margin-right: 0;
  }
}

.row {

  margin:0 auto;
 
}

.col {
  
}

@media (min-width: 650px){
  .col {
    margin-bottom: 0;
  }
  .col-1 {
    @include grid(1);
  }

  .col-2 {
    @include grid(2);
  }

  .col-3 {
    @include grid(3);
  }

  .col-4 {
     @include grid(4);
  }
  
  .col-5 {
     @include grid(5);
  }
  .col-6 {
     @include grid(6);
  }
  .col-7 {
     @include grid(7);
  }
  .col-8 {
     @include grid(8);
  }
  .col-9 {
     @include grid(9);
  }
  .col-10 {
     @include grid(10);
  }
  .col-11 {
     @include grid(11);
  }
  .col-12 {
     @include grid(12);
  }
}






// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "index",
        "layout",
        "normalize",
        "about",
        "work",
        "blog",
        "outdoors",
        "mobile";
    




