<footer class="site-footer">

  <div class="footer_wrapper">
 	

  <ul>
  	<li><a href="https://twitter.com/EricBlake3" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  	<li><a href="https://medium.com/@EricBlake" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
  	<li><a href="mailto:&#101;&#114;&#105;&#099;&#098;&#108;&#097;&#107;&#101;&#100;&#101;&#115;&#105;&#103;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
  	<li><a href="https://github.com/EricBlake" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>

    

  </ul>
   

  </div>

</footer>
