<footer class="site-footer">

  <div class="footer_wrapper">
 	

  <ul>
  	<li>Follow Me On <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  	<li>Check Out My Blog On <a href="https://medium.com/@EricBlake"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
  	<li>Send Me An Email To <a href="mailto:&#101;&#114;&#105;&#099;&#098;&#108;&#097;&#107;&#101;&#100;&#101;&#115;&#105;&#103;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#101;&#114;&#105;&#099;&#098;&#108;&#097;&#107;&#101;&#100;&#101;&#115;&#105;&#103;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></li>
    

  </ul>
   

  </div>

</footer>
<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  

<script type="text/javascript" src="main.js"></script>