.about_wrapper {
    margin: 2%;
   
    .about_me_img {
        width: 70%;
        margin:0 auto;
        
        img {
            width: 100%;
           
        }
    }
    h2 {
        font-family: $body-font;
        padding: 1em 0 1em 0;


    }
    p {
        line-height: 1.75em;
        font-family: $body-font;
        margin-bottom: 1em;

        a{
            text-decoration: none;
            color:$button-color;
        }
    }


    .about_interests{

        padding-top: 2em;
        overflow: hidden;
    
            h2{
                width: 50%;
                margin:0 auto;
            }
            ul{
               
                list-style: none;
                width: 100%;
                li{
                    width: 50%;
                    margin:0 auto;
                    line-height: $base-line-height;
                    
                }

            }
            .skills{

                overflow: hidden;
                ul{
                    display: inline-block;
                
                    
                }
            }
       
    }
} //closing about_wrapper tag//







@media (min-width: 750px) {
    .about_wrapper {
        overflow: hidden;
        box-sizing: border-box;
        margin: 2%;

        h2{
            padding: 0 0 1em 0;
        }
        
       
        .about_me_img {
            width: 30%;
            margin:0 auto;
            float:left;
           
            img {
                width: 100%;
               
            }
        }

        .about_body {
            float:left;
            width: 50%;
            display: inline-block;
            margin: 0 auto;
            margin-left: 2em;
            p {
                line-height: 1.75em;
            }
        }
        .about_interests{
            clear: both;
        }

    } //closing about_wrapper tag//
}
