body{
	background-color:$background-color;
}


.wrapper{
	margin:2%;
	background-color:$background-color;



	.main_img{
	
		background-image: url(https://github.com/EricBlake/ericblake.github.io/blob/master/images/IMG_58391.jpg?raw=true);
		background-size: contain;
    	background-clip: border-box;
    	background-repeat: no-repeat;
    	height:30em;
   		display: block;
  		margin-left: auto;
  		margin-right: auto;
    	max-width: 400px;
    	margin-top: 3em;

	}

	h1{
		text-align: center;
	}
	ul{
		text-align:center;
		a{
			text-decoration: none;
			color:$brand-color;
			margin:9%;
			font-size: 2em;
			font-weight: 800;
			font-family: $body-font;

		}
	}

	}//closing wrapper tag//