//-------------------------------------------------blog--------------------------
.blog {
    margin: 2%;

    h1 {
        font-family: $body-font;
        
        text-align: center;
    }
    .post-list {
        list-style: none;
        display: inline;
        text-align: center;
        li {
            margin-bottom: 1em;
            h2 {

                a {
                    font-family: $body-font;
                    background-color: $grey-color;
                    padding: 0.5em;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    -khtml-border-radius: 5px;
                    font-size: $base-font-size;
                    color: $text-color;

                }
                a:hover {
                    color: $button-color;
                }
            }
        }
    }
    .subscribe {
        .rss-subscribe {
            text-align: center;
            color: $text-color;
            a {
                color: $brand-color;
            }
            a:hover {
                color: $button-color;
            }
        }
    }
    .post_wrapper{
        h2{
            width: 60%;
            margin: 0 auto;
        }

    }
} //closing blog tag
@media (min-width: 650px) {
    //--------------------------------------blog post breakpoint 
    .post_wrapper {
        margin: 2%;
        line-height: 1.75em;
        font-family: $body-font;
        max-width: 60%;
        margin: 0 auto;
        div {
            margin-bottom: 1em;
        }
    }
}
