body {
    background-color: $background-color;
}

.main_wrapper {
    margin: 2%;
    background-color: $background-color;
    box-sizing: border-box;
    .main_img {
        margin: 0 auto;
        text-align: center;
        width: 50%;
        img {
            width: 100%;
            margin: 0 auto;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
        }
        * {
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  animation: fadein 4s;
}
@-webkit-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
    }
    .main_content {
        margin: 2%;
        h1 {
            text-align: center;
            font-family: $body-font;
            color: $font_color;
        }
        
         * {
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  animation: fadein 5s;
}
@-webkit-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
    }
} //closing wrapper tag//
//-------------------------------------------------group project--------------------------
.post_wrapper {
    margin: 2%;
    line-height: 1.75em;
    font-family: $body-font;
    
}

//-------------------------------------------------BREAKPOINT--------------------------
@media (min-width: 650px) {
    .main_wrapper {
       
        .main_img {
            margin: 0 auto;
            text-align: center;
            padding: 2%;
          
            width: 50%;
            box-sizing: border-box;
            img {
                width: 60%;
                margin: 0 auto;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
            }
        }
        .main_content {
            margin: 0 auto;
        
            box-sizing: border-box;
            width: 50%;
            h1 {
                text-align: center;
                font-family: $body-font;
                color: $font_color;
                margin-top: 0;
            }
           
        }
    } //closing main wrapper tag//
} //end media tag









