/**
 * Site header
 */
.site-header {
   background-color:#0D0F0E;
    min-height: 56px;

}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: $base-font-family;
    text-decoration: none;
    color:#ffffff;

    &,
    &:visited {
     
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
     

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

}