/**
 * Site header
 */

.site-header {
    background-color: $color_black;
    height: auto;
    padding-top: 0em;
    box-sizing: border-box;
}

.wrapper {
    overflow: auto;
    .nav_img {
        width: 10%;
        margin: 0 auto;
        img {
            height: 60px;
            align: center;
        }
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: $base-font-family;
    text-decoration: none;
    color: $background-color;
    padding-left: 0.5em;
    &,
    &:visited {}
}

.site-title:hover {
    color: $button-color;
}

.site-nav {
    float: right;
    line-height: 56px;
    a {
        font-family: $base-font-family;
        color: $background-color;
        margin: 5px;
        padding-right: 0.75em;
    }
    a:hover {
        color: $button-color;
    }
    .menu-icon {
        display: none;
    }
    .page-link {
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.site-footer {
    background-color: $color_black;
    margin-top: 10em;
    overflow: hidden;
    margin-bottom: 0;
    .footer_wrapper {
        p {
            text-align: center;
            color: $background-color;
            font-family: $base-font-family;
        }
        ul {
            list-style: none;
            li {
                color: $background-color;
                text-align: center;
                padding-bottom: 5px;
                font-family: $body-font;
                a {
                    color: $button-color;
                    padding-left: 0.5em;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
} //closing site footer tag
* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.page-content {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.wrapper:after {
    content: "";
    display: block;
}

.site-footer,
.wrapper:after {
   
    /* .push must be the same height as footer */
}
