.work_wrapper{
    font-family: $body_font;
    .row{
        .col{
           
            h2{
                text-align: center;
                padding:2em;


            }
          

            .project{
                width: 46%;
                float: left;
                  margin:2%;
                  box-sizing:border-box;
                a{
                    text-decoration: none;
                     color: $button_color;
                     text-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
                     -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: $background-color;
                .img_cont{
                    width: 100%;
                    margin:0 auto;
                    img{
                        width: 100%;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
                      
                    }
                    h3{
                       position: relative; 
                       top: -100px; 
                       left: 0; 
                       width: 100%; 
                       text-align: center;



                    }

                    }//closing img_cont
                }//closing a tag
                a:hover{
               
               
                    .img_cont{
                        
                        h3{
                
              }

              }//closing hover img_cont

            }//closing a:hover tag


            }//closing project


        }//cloisng col col-8
    }//closing row
    


}//closing work_wrapper

@media(min-width:590px) {
    .work_wrapper {

        .row {
            .col {
                width: 100%;

                
                .project {
                    width: 50%;
                    float: left;
                    margin: 0 auto;
                    box-sizing: border-box;


                    a {
                        text-decoration: none;
                        color: transparent;
                        font-size: 25px;
                         text-shadow: none;
                           -webkit-text-stroke-width: 0px;
                    -webkit-text-stroke-color: $background-color;
                        .img_cont {
                            width: 100%;
                            margin: 0 auto;
                            img {
                                width: 80%;
                                margin:0 auto;
                                display: block;
                                box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
                                -webkit-filter: grayscale(80%);
                                   -moz-filter: grayscale(80%);
                                     -o-filter: grayscale(80%);
                                    -ms-filter: grayscale(80%);
                                        filter: grayscale(80%); 
                            }
                            h3 {
                                position: relative;
                                top: -100px;
                                left: 0;
                                width: 100%;
                                text-align: center;

                            }
                        } //closing img_cont
                    } //closing a tag
                    a:hover {
                        color: #4583D3;
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
                          -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: $background-color;
                        .img_cont {
                            img{
                                   -webkit-filter: grayscale(0%);
                                   -moz-filter: grayscale(0%);
                                     -o-filter: grayscale(0%);
                                    -ms-filter: grayscale(0%);
                                        filter: grayscale(0%); 
                            }
                            h3 {
                                -webkit-animation: fadein 2s;
                                -moz-animation: fadein 2s;
                                animation: fadein 2s;
                            }
                        } //closing hover img_cont
                    } //closing a:hover tag
                } //closing project
            } //cloisng col col-8
        } //closing row
    } //closing work_wrapper
} //closing media tag




