.work_wrapper{
    .row{
        .col{
           
            overflow: hidden;
          

            .project{
                width: 46%;
                float: left;
                  margin:2%;
                  box-sizing:border-box;
                a{
                    text-decoration: none;
                     color: transparent;
                .img_cont{
                    width: 100%;
                    margin:0 auto;
                    img{
                        width: 100%;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
                      
                    }
                    h3{
                       position: relative; 
                       top: -100px; 
                       left: 0; 
                       width: 100%; 
                       text-align: center;



                    }

                    }//closing img_cont
                }//closing a tag
                a:hover{
                color:$background_color;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
                    .img_cont{
                        h3{
                 -webkit-animation: fadein 2s;
                  -moz-animation: fadein 2s;
                  animation: fadein 2s;
              }

              }

            }


            }//closing project


        }//cloisng col col-8
    }//closing row
    


}//closing work_wrapper